<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Please login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/res/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/res/css/main.css}">
</head>
<body>


    <form class="layui-form" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <input  type = "hidden"  th:name="${_csrf.parameterName}"  th:value = "${_csrf.token}" />
            <div class="layui-form-mid layui-word-aux">三位密码</div>
        </div>
        <div>
            <button class="layui-btn">登录</button>
        </div>
    </form>
<div th:class="layui-elem-field">
    <input type="checkbox" name="remember">记住我
</div>
</body>
</html>